// fonts
$fontMain: "Open Sans", sans-serif;
$fontTitle: "Montserrat", sans-serif;

// colors
$colorDark: rgb(17, 91, 117);
$colorLight: rgb(62, 192, 237);
$colorBackgroundFav: rgb(231, 167, 30);
$colorBackground: rgb(211, 140, 106);

// others
