.favorites {
  grid-area: favorites;
  &__title {
    padding: 12px 0;
    font-family: $fontTitle;
    font-weight: 300;
    font-size: 18px;
  }
  &__shows {
    list-style-type: none;
  }
  .favoriteCard {
    margin-bottom: 12px;
    padding: 6px;
    border: 1px solid $colorBackgroundFav;
    border-radius: 4px;
    display: flex;
    // justify-content: space-between;
    &__img {
      // width: 20%;
      max-height: 100px;
    }
    &__title {
      padding: 0 6px;
      font-size: 14px;
      font-weight: 400;
      flex-grow: 1;
      color: $colorDark;
    }
    &__btn {
      &--rmv {
        color: $colorDark;
      }
      &--reset {
        margin-top: 30px;
        @include button(1px, $colorBackgroundFav, white);
        &:active {
          @include btn-active();
        }
      }
    }
  }
}
