.main__form {
  padding: 12px 0;
  width: 100%;
  grid-area: search;
}

.form {
  &__input {
    margin-right: 20px;
    padding: 5px;
    outline: none;
    font-family: $fontMain;
    border: 2px solid $colorDark;
    border-radius: 2px;
    background-color: white;
    &::placeholder {
      color: $colorSun;
      font-weight: 300;
    }
  }
  &__button {
    @include button(2px, $colorDark, $colorLight);
    &:active {
      @include btn-active();
      background-color: white;
    }
  }
}
