.main {
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "search search"
    "favorites results";
  &__form {
    width: 100%;
  }
}
