.main {
  //  until I figure out how to make the rest NOT centered
  // flex-grow: 1;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  &__form {
    width: 100%;
  }
}

.favourite {
  &__card {
    display: flex;
  }
  &__img {
    width: 30%;
  }
}
