.page {
  padding: 12px 30px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  font-family: $fontMain;
}

.main {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "search search"
    "favorites results";
  column-gap: 20px;
}
