// this one goes with main.j - update there if changes
// create mixin for shared part between two cards
.result {
  &__card {
    @include result-card($colorBackground, $colorBackground);
    &--fav {
      @include result-card($colorDark, $colorBackgroundFav);
    }
  }
  &__title {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
  }
  &__img {
    max-width: 180px;
    @media all and (max-width: 900px) {
      max-width: 100px;
    }
  }
}

// new css

.results {
  grid-area: results;
  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: stretch;
    text-align: center;
    @media all and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }
  }
}
